name: ci
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
  release:
    types:
      - published

jobs:
  build:
    name: "build"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.5.2
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_npm: true
          enable_go: true
      - run: npm ci
      - run: npm run build
      - run: go run ./scripts/build-archive/build-archive.go
      - name: store plugin archives
        uses: actions/upload-artifact@v4
        with:
          name: archives
          path: |
            **/*.tar.gz
            !node_modules

  lint:
    name: "lint"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.5.2
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_npm: true
      - run: npm ci
      - run: npm run lint

  get-schemas-deps:
    name: "Get dependencies for plugin schemas"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.7.1
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_go: true
      - uses: ./.github/perses-ci/actions/install_percli
        with:
          cli_version: "main-2024-11-13-e99df92a-distroless" # To replace by latest when `percli plugin update` command will be released
      - run: go run ./scripts/get-schemas-deps/get-schemas-deps.go
      - name: store plugin schema dependencies
        uses: actions/upload-artifact@v4
        with:
          name: plugins-schema-deps
          path: |
            */cue.mod/pkg

  validate-schemas:
    name: "Validate plugin schemas"
    needs: "get-schemas-deps"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.5.2
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_go: true
          cue_version: "v0.11.0"
          enable_cue: true
      - name: retrieve plugin schema dependencies
        uses: actions/download-artifact@v4
        with:
          name: plugins-schema-deps
      - run: go run ./scripts/validate-schemas/validate-schemas.go

  release:
    name: "release"
    needs: ["build","validate-schemas"]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.event.release.tag_name }}
    env:
      GITHUB_TOKEN: ${{ github.TOKEN }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.5.2
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_npm: false
          enable_go: true
      - name: retrieve plugin schema dependencies
        uses: actions/download-artifact@v4
        with:
          name: plugins-schema-deps
      - name: Download archive
        uses: actions/download-artifact@v4
        with:
          name: archives
      - run: go run ./scripts/upload-archive/upload-archive.go -tag=${{ github.event.release.tag_name }}
